body {
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#d32f2f;
  padding: 20px 20px;
  margin-bottom: 40px;
}

.navbar .logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 23px;
}

.navbar ul li a,
.navbar .Cart {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar ul li a:hover,
.navbar .Cart:hover {
  color: #ff9800;
}

.top-food {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 20px;
}




.top-food h2{
  margin-top:10;
  font-size: 45px;
  width: 60%;
}

.top-food p{
  margin-top: 0px;
  width: 40%;
  color: rgb(150, 145, 145);
}
.explore-menu {
  padding: 15px 30px;

  background: #e13333;
  border: none;
  border-radius:5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px; 
}

.explore-menu:hover{

  
  background-color: rgb(133, 12, 12);
  color: white;


}

.food-img {
  margin-top: 20px;
  min-width: 70%;
  height: auto;
  border-radius: 10px;
}
