body {
  margin: 0;
  font-family: Arial, sans-serif;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px 20px;
}

.navbar .logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
  

.navbar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 23px;
}

.navbar ul li a ,.navbar .Cart{
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar ul li a:hover,.navbar .Cart:hover {
  color: #ff9800;
}

.top-food{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.second-line{

  margin-top: 0px;
}

.explore-menu{

  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;

}