.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-us h2 {
  font-size: 45px;
  color: #d32f2f;
  margin: 50px 0;   /* same spacing as menu */
  width: 60%;       /* match the menu style */
}


.about-us p {
  margin-top: 0;
  width: 40%;
  color: rgb(150, 145, 145);
  font-size: 16px;
  padding-bottom: 100px;
}



.site-footer {
  background: #242222;
  color: #fff;
  padding: 40px 20px 20px;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.footer-about,
.footer-links,
.footer-contact {
  flex: 1;
  min-width: 250px;
}

.footer-about h3 {
  color: #e13333;
  font-size: 22px;
}

.footer-links h4,
.footer-contact h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #f5ba39;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #fff;
}

.footer-contact p {
  margin: 5px 0;
  color: #ccc;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #333;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}