.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.menu-header h2 {
    margin-top: 10;
    font-size: 45px;
    width: 60%;
    color: #d32f2f;
    margin: 50px;
}

.menu-header p {
    margin-top: 0px;
    width: 40%;
    color: rgb(150, 145, 145);
    font-size: 16px;
}


.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}

.menu-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu-card:hover {
  /* transform: translateY(-5px); */
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.menu-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu-info {
  padding: 15px;
  text-align: left;
}

.menu-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.menu-info p {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #d32f2f;
}



.add-cart{
  border: none;
  padding: 15px;
  background-color: #d32f2f;
  color: white;
  cursor: pointer;
  border-radius: 24px;
  font-weight: 600;
}